{% load static %}
<html>
    <head>
        <title>Open Show Off</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.1.1/bootstrap-social.css">
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <form class="login-form">
                    <h2>Login Here</h2>
                    <div>
                        <a href="{% url 'social:begin' 'github' %}"
                           class="btn btn-block btn-social btn-github">
                            <span class="fa fa-github"></span> Sign in with GitHub
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

